@import url('https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap');
/*     
  font-family: 'Roboto', sans-serif;
  font-family: 'Anton', sans-serif;    
*/
.font-anton{ font-family: 'Anton', sans-serif; }
.font-roboto{ font-family: 'Roboto', sans-serif; }

body{ font-family: 'Roboto', sans-serif; }